/* general page settings */
html,body {
	margin: 5px;
	padding: 0;
}

body {
	font-family: "Myriad Pro", "Myriad Web", "Lucida Grande", 
				 "Trebuchet MS",  Tahoma, Helvetica, Arial, 
				sans-serif;
	font-size: small;
	position: relative;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #e16000;
	font-size: 140%;
	letter-spacing: 1px;
	font-weight: normal;

	margin-left: 5px;
}

h2 {
	color: #666;
	font-size: 120%;
}

h3 {
	color: #666;
	font-size: 100%
}

h4 {
	color: #666;
	font-size: 90%;
}

ol, ul {
	list-style: none;
}

#wrap {
	margin: 5px;
}

/* main navigation */

#main-navigation {
	margin-top: 10px;
	background-color: #E6F2FF;
    text-align: left;
    font-size:  125%;
    clear: both;
    padding: 1px;
	border-top: 3px solid white;
	border-bottom: 2px solid white;
}

	#main-navigation a {
		text-decoration: none;
		color: #333;
		text-weight: bold;
	}

		#utilty-navigation a:hover {
			text-decoration: underline;
	
		}

	#main-navigation li {
		display: inline;
		margin: 0px;
		margin-top: 15px;
		padding: 2px 19px;
	   border-right: 3px #fff solid;
	   border-bottom: none;
	}

/* secondary navigation */

#secondary-navigation {
	background: #eeeee1;
    text-align: left;
    font-size:  115%;
    clear: both;
    padding: 1px;
	border-bottom: 2px solid white;
}

	#secondary-navigation a {
		text-decoration: none;
		color: #333;
		text-weight: bold;
	}

		#secondary-navigation a:hover {
			text-decoration: underline;

		}

	#secondary-navigation li {
		display: inline;
		margin: 0px;
		padding: 2px 19px;
	   border-right: 3px #fff solid;
	   border-bottom: none;
	}
		
/* utility navigation */

#utility-navigation {
	margin: 0;
	background: #EEEEE1;
    text-align: left;
    font-size:  110%;
    clear: both;
}

	#utility-navigation a {
		text-decoration: none;
		color: #333;
		text-weight: bold;
	}

		#utility-navigation a:hover {
			text-decoration: underline;
	
		}

	#utility-navigation li {
		display: inline;
		margin: 0px;
		padding: 9px 19px;
	}
	
/* auxilary navigation */

#auxilary-navigation {
	margin: 0;
    text-align: right;
    font-size:  100%;
}

	#auxilary-navigation a {
		text-decoration: none;
		color: #333;
		text-weight: bold;
	}

		#auxilary-navigation a:hover {
			text-decoration: underline;
	
		}

	#auxilary-navigation li {
		display: inline;
		margin: 0px;
		padding: 9px 19px;
	}

/* footer bar */
#footer-navigation { 
    color: #666; 
	background: #eeeee1;
	clear: both;
	font-size:  90%;
	border-bottom: 1px solid #999;
	margin: 0px;
	margin-top: 55px;
	padding: 3px;
}

	#footer-navigation ul { 
		margin: 0;
		padding: 0;
		text-align: left; 
		clear:  both;
	}

	#footer-navigation li {
		display: inline;
		margin: 0;
		padding: 0;
		margin-left: 65px;
	}

	#footer-navigation a {
		color: #666;
		text-decoration: none; 
	}

	#footer-navigation a:hover {
		text-decoration: underline;
	}

#tagging {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:  80%;
	color: #666;
	margin: 5px;
}

	#taggging a {
		color: #336699;
	}

#copyright {
}

#entryway {
}

/* banner */

#banner {
	float: left;	
}

/* search */

#search {
	float: right;
	font-size: 150%;
	color: #666;
	margin-top: 40px;
}


/* Categories */

#category_selection {
	float: left;
	margin-left: 5px;
}

#category_edit {
	width: 30;
	margin-left: 20px;
	border: 1px dotted #ccc;
}

#category_new {
	width: 30;
	margin-left: 20px;
	border: 1px dotted #ccc;
}

/* Table styles */

.listing-table {
	margin-left: 50px;
}

.listing-table td {
 	padding: 5px 4px;
 	color: #333;
	font-family: Verdana, sans-serif;
 	font-size: 100%;
	background-color: #B9DCFF;
	border-bottom: solid 1px #C5DBF7;
	border-left: solid 1px #C5DBF7;
 }

.listing-table td {
 	padding: 5px 4px;
 	color: #333;
	font-family: Verdana, sans-serif;
 	font-size: 100%;
	background-color: #B9DCFF;
	border-bottom: solid 1px #C5DBF7;
	border-left: solid 1px #C5DBF7;
 }
 
.listing-table td.subcat {
	margin-left: 20px;	
}

.listing-table td.actions {
 	border-right: solid 1px #ccc;
 }

.listing-table tr.even td {
 	background-color:#fdffe5;
 	border-left: solid 1px #ddd;
 }

.listing-table tr.blank td {
 	background-color:#fff;
 	border: solid 0px #ddd;
}
 
.listing-table tr td.sorted {
 	background-color: #B9DCFF;
 	border-bottom: solid 1px #AFD0F5;
 }

.listing-table tr td.blank {
 	background-color: #fff;
 	border: solid 0px #AFD0F5;
 }

.listing-table tr.even td.sorted {
 	background-color: #E6F2FF;
 	border-bottom: solid 1px #AFD0F5;
 }

.listing-table td.empty {
 	color: #999;
 	text-align: center;
 }

/* Table Column Headers */

 .listing-table th {
 	background-color: #555;
 	text-align: left;
 	white-space: nowrap;
 	font: bold 110% arial, sans-serif;
 	color: white;
 }

 .listing-table th a,
 .listing-table th p {
 	font: bold 11px arial, sans-serif;
 	display: block;
 	background-color: #555;
 }

 .listing-table th a {
 	color: #fff;
 	padding: 2px 15px 2px 5px;
 }

 .listing-table th p {
 	color: #eee;
 	padding: 2px 5px;
 }

 .listing-table th a:hover {
 	background-color: #000;
 	color: #ff8;
 }

 .listing-table th.sorted {
 	background-color: #333;
 }

 .listing-table th.asc a,
 .listing-table th.asc a:hover {
 	background: #333 url(../images/arrow_up.gif) right 50% no-repeat;
 }

 .listing-table th.desc a,
 .listing-table th.desc a:hover {
 	background: #333 url(../images/arrow_down.gif) right 50% no-repeat;
 }

 .listing-table th.loading a,
 .listing-table th.loading a:hover {
 	background: #333 url(../images/indicator-small.gif) right 50% no-repeat;
}

 
 /* Product Options */
 
#selection-list {
	border-style: dotted;
	border-color: #ccc;
}

#options-faux-form {
	border: 1px solid #ccc;
	width: 250px;
	padding-left: 15px;
}


/*CSS Badoo style pagination*/
.pagination {
	background-color:#fff;
	color:#48b9ef;
	padding:10px 0 10px 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
}

.pagination a {
	color:#48b9ef;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:2px solid #f0f0f0;
}

.pagination a:hover, div.pagination a:active {
	border:2px solid #ff5a00;
	color:#ff5a00;
}

.pagination span.current {
	padding:2px 5px;
	border:2px solid #ff5a00;
	color:#fff;
	font-weight:bold;
	background-color:#ff6c16;
}
.pagination span.disabled {
	display:none;
}


 /* Project Seven Tabs */
 
.p7TPwrapper {
	padding: 8px 0px 7px 0px;
}

.p7TPheader {
	padding: 3px 6px;
	border-bottom: 1px solid #666666;
	background-color: #eeeee1;
}

.p7TPheader {
	padding: 3px 6px;
	border-bottom: 1px solid #666666;
	background: #eeeee1;
}
.p7TPheader h2, .p7TPheader h3 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}
.p7TP_tabs {
	padding: 0;
	font-size: 1.1em;
}
#p7TP1 .p7TP_tabs a, #p7TP2 .p7TP_tabs a,
#p7TP3 .p7TP_tabs a, #p7TP4 .p7TP_tabs a, 
#p7TP5 .p7TP_tabs a {
	padding: 8px 8px 4px 6px;
	display: block;
	float: left;
	color: #878D8E;
	text-decoration: none;
	background-image: url(p7tp/tabs01_up2.gif);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: transparent;
}
#p7TP1 .p7TP_tabs a:focus, #p7TP2 .p7TP_tabs a:focus,
#p7TP3 .p7TP_tabs a:focus, #p7TP4 .p7TP_tabs a:focus,
#p7TP5 .p7TP_tabs a:focus {
	outline: 1px dotted;
	outline-color: #ffffff;
}
#p7TP1 .p7TP_tabs a:hover, #p7TP2 .p7TP_tabs a:hover, 
#p7TP3 .p7TP_tabs a:hover, #p7TP4 .p7TP_tabs a:hover, 
#p7TP5 .p7TP_tabs a:hover, #p7TP1 .p7TP_tabs a:active, 
#p7TP2 .p7TP_tabs a:active, #p7TP3 .p7TP_tabs a:active,
#p7TP4 .p7TP_tabs a:active, 
#p7TP5 .p7TP_tabs a:active {
		background-color: transparent;
}

.p7TP_tabs div {
	display: block;
	float: left;
	background-image: url(p7tp/tabs01_up.gif);
	background-repeat: no-repeat;
	margin: 0 -2px 0 0;
}
.p7TPclear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.p7TPcontent {
	padding: 10px;
	background-color: #F8F7F1;
	font-size: 1em;
	line-height: 1.5em;
	position: relative;
	z-index: 1;
	top: -1px;
	left: 0;
	border: 1px solid #CCCCCC;

}
.p7TPcontent h2, .p7TPcontent h3, 
.p7TPcontent h4 {
	font-size: 1.1em;
	color: #444444;
	margin: 0px;
	line-height: normal;
}
.p7TPcontent p {
	margin: 6px 0 12px 0;
}
#p7TP1 .p7TP_tabs div.down, #p7TP2 .p7TP_tabs div.down, 
#p7TP3 .p7TP_tabs div.down, #p7TP4 .p7TP_tabs div.down, 
#p7TP5 .p7TP_tabs div.down {
	padding: 0;
	position: relative;
	z-index: 2;
	background-image: url(p7tp/tabs01_down.gif);
	background-repeat: no-repeat;
}
#p7TP1 .p7TP_tabs div.down a, #p7TP2 .p7TP_tabs div.down a, 
#p7TP3 .p7TP_tabs div.down a, #p7TP4 .p7TP_tabs div.down a, 
#p7TP5 .p7TP_tabs div.down a {
	background-image: url(p7tp/tabs01_down2.gif);
	background-repeat: no-repeat;
	background-position: right top; color: #565A5B;
}
/*HIDE the TABS*/
.p7TP_tabs {
	display: none;
}
 