
body {
	background: white;
	font: 12pt Georgia, "Times New Roman", Times, serif;
}

label {
	padding-bottom: 5px;
}

.gt-util-box {
	display: none;
}

.gt-hd {
	display: none;
}

.gt-nav {
	display: none;
}

.gt-breadcrumb {
	display: none;
}
 
.gt-sidebar {
	display: none;
}

.gt-footer {
	display: none;
}

.print-hide {
	display: none;
}

#shipping-addres {
	float:left;
}

#logo {
	display: inline;
}