
#product_image {
	float: left;
	width: 250px;
}

#product_attributes {
	float: right;
	margin-right: 30px;
}

#product_attributes h5 {
	text-align: center;
	display: inline;
}

#product_image h4 {
	margin-top: 20px;
	color: #0A6891;
	margin-left: 220px;
}

#add_to_cart {
	padding-left: 160px;
}

#radio_button_options {
	margin-left: 40px;
}

#so_sorry_out_of_stock {
	color: #ff7b00;
	font-size: 110%;
}