/*

	GreenLabel
	===========================================================================================
	media: all
	browser: all

	Legend:
	-------------------------------------------------------------------------------------------
	
	1 General
		1.1 headings and paragraphs
		1.2 lists
		1.3 forms
		1.4 links
		
	2 Layout
		2.1 accessibility
		2.2 branding
			2.2.1 logo
			2.2.2 site navigation
		2.3 content
			2.3.1 quick-info
				2.3.1.1 attributes
				2.3.1.2 attribute
			2.3.2 quick-navigation
				2.3.2.1 categories
				2.3.2.2 wholesaler, employee-of-the-month
			2.3.3 main-content
				2.3.3.1 resources		
			2.3.4 site-options
		
	3 Diff
		3.1 small tweaks

*/


/* General -1- ====================================================================================*/
 
 	/* global reset */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; } /* remember to define focus styles! */ :focus { outline: 0; } body { line-height: 1; color: black; background: white; } ol, ul { list-style: none; } table { border-collapse: separate; border-spacing: 0; } caption, th, td { text-align: left; font-weight: normal; } blockquote:before, blockquote:after, q:before, q:after { content: ""; } blockquote, q { quotes: "" ""; }

	html{	    
		font-size: medium;
		text-align: center;
		}
	body{
		background: #999e92 url(images/body_bg.gif) repeat left top;
		color: #FFF;
		font: normal normal 68.75%/140% Arial,Verdana,Helvetica,sans;
		padding-bottom: 20px;
		}

	/* headings and paragraphs -1.1- ----------------------------------------------------------*/
	p{}
	h{}
	h1{
		font: normal normal 181%/110% Verdana,Arial,Helvetica,sans ;
		margin-bottom: 10px;
		}
	h2{}
	h3{}	
	h1,h2,h3,h4{		 
	    position: relative;
	    }
      
	/* lists 1.2 ------------------------------------------------------------------------------*/
	ul,ol{
	    list-style-type: none;
	    }
	
	/* forms 1.3 ------------------------------------------------------------------------------*/      
	input,select,option,textarea{
		color: #000;
		font-size: 100%;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		vertical-align: middle;
		}	
	label{
		vertical-align: middle;
		}
	
	/* links -1.4- ----------------------------------------------------------------------------*/
	a{
	    color: #333;
	    text-decoration: none;
	    }
	p a{
	    text-decoration: underline;
	    }

/* Layout -2- =====================================================================================*/

#page{
	background: transparent url(images/page_bg.gif) no-repeat left bottom;			
	margin: 15px auto 30px;
	padding-top: 56px;
	padding-bottom: 15px;
	text-align: left;
	width: 903px;
	}

	/* accessability -2.1- --------------------------------------------------------------------*/
	#accessibility{
	    position: absolute;
	    text-indent: -1000em;
	    }
	    
	/* branding -2.2- -------------------------------------------------------------------------*/	    
	#branding{		
		height: 26px;	
		position: relative;
		z-index: 10;
		}
		
		#branding span.bottom{
			background: transparent url(images/branding_bg.png) no-repeat right bottom;
			bottom: 0px;
			display: block;
			height: 26px;
			left: 0px;
			position: absolute;
			width: 100%;
			z-index: 10;
			}
				
		/* logo -2.2.1- -------------------------------------------------------------------*/
		#branding h2{
			position: absolute;
			top: -56px;
			z-index: 100;
			}
		#branding h2 a{
			display: block;
			height: 82px;
			he\ight: 72px;
			overflow: hidden;
			padding: 5px;
			position: relative;
			width: 312px;
			w\idth: 302px;
			}
		#branding h2 a span{
			background: transparent url(images/green-label_logo.png) no-repeat left top;
			display: block;
			height: 100%;
			left: 0px;
			position: absolute;
			top: 0px;
			width: 100%;
			}
		#branding p{
			position: absolute;
			text-indent: -10000em;
			}

		/* site navigation -2.2.2- -------------------------------------------------------------------*/		
		#branding ul{			
			bottom: 0px;
			display: block;
			height: 52px;
			he\ight: 42px;
			left: 312px;
			overflow: auto;
			padding: 0 0 10px 72px;
			position: absolute;
			width: 592px;
			w\idth: 520px;
			z-index: -10;
			}
		#branding li{
			display: block;
			float: left;
			position: relative;
			}    
		#branding li a{
			display: block;
			float: left;
			height: 42px;
			he\ight: 36px;
			overflow: hidden;
			padding: 3px 5px;
			position: relative;
			}
			
			#branding li a span{
				background: transparent url(images/site-navigation.gif) no-repeat left top;
				display: block;
				height: 100%;
				left: 0px;
				top: 0px;
				position: absolute;
				width: 100%;
				}
								
			#branding li .home{
				width: 64px;
				w\idth: 54px;
				}
			#branding li .home span{				
				background-position: 0px 0px;
				width: 64px;
				}
			#branding li.active .home span, #branding li .home:hover span{
				background-position: 0px -42px;
				}
				
			#branding li .about{
				width: 68px;
				w\idth: 58px;
				}
			#branding li .about span{
				background-position: -64px 0px;
				width: 68px;
				}
			#branding li.active .about span, #branding li .about:hover span{
				background-position: -64px -42px;
				}
			
			#branding li .shop{
				width: 60px;
				w\idth: 50px;
				}
			#branding li .shop span{
				background-position: -132px 0px;
				width: 60px;
				}
			#branding li.active .shop span, #branding li .shop:hover span{
				background-position: -132px -42px;
				}

			#branding li .contact{
				width: 81px;
				w\idth: 71px;
				}
			#branding li .contact span{
				background-position: -192px 0px;
				width: 81px;
				}
			#branding li.active .contact span, #branding li .contact:hover span{
				background-position: -192px -42px;
				}
				
			#branding li .find-retailer{
				width: 121px;
				w\idth: 111px;
				}
			#branding li .find-retailer span{
				background-position: -273px 0px;
				width: 121px;
				}
			#branding li.active .find-retailer span, #branding li .find-retailer:hover span{
				background-position: -273px -42px;
				}								

	/* content -2.3- -------------------------------------------------------------------------*/
	#content{
		background: transparent url(images/content_bg.gif) repeat-y left top;
		clear: both;		
		padding: 15px 15px 0;
		}

		/* quick-info -2.3.1- ----------------------------------------------------------*/		
		#quick-info{
			background: transparent url(images/quick-info_image.jpg) no-repeat left top;
			float: right;
			padding: 180px 20px 0px 305px;
			position: relative;
			text-align: center;
			width: 650px;
			w\idth: 325px;
			}
		
		h1#highest-quality{
			height: 25px;
			margin: 0px auto;
			overflow: hidden;
			position: relative;
			width: 221px;
			}
			h1#highest-quality span{
				background: transparent url(images/h1_highest-quality.gif) no-repeat left top;
				display: block;
				left: 0px;
				height: 100%;
				position: absolute;
				top: 0px;
				width: 100%;
				}
			
			/* attributes -2.3.1.1- -------------------------------------------------*/
			#attributes{
				position: absolute;
				text-indent: -10000em;
				}
			
			/* attribute -2.3.1.2- -------------------------------------------------*/	
			#attribute{
				background: url(images/attribute_bg.gif) no-repeat right top;
				height: 211px;
				he\ight: 161px;
				margin: 40px 0px 0px -305px;
				padding: 40px 20px 10px 420px;
				position: relative;
				text-align: left;
				width: 645px;
				w\idth: 205px;   
				}
			#attribute h2{
				color: #a7323a;
				font-size: 181%;
				height: 17px;				
				overflow: hidden;
				position: relative;
				width: 203px;
				}
				#attribute h2 span{
					background: transparent url(images/attribute_h2.gif) no-repeat left top;
					display: block;
					height: 100%;
					left: 0px;
					top: 0px;
					width: 100%;
					}
				
				
			#attribute h3{				
				color: #6b7a56;
				left: 3px;
				font-size: 163%;
				line-height: 48px;
				height: 201px;
				he\ight: 161px;
				top: 1px;
				padding: 40px 10px 0 5px;
				position: absolute;
				vertical-align: middle;
				width: 395px;
				w\idth: 380px;
				}
				#attribute h3 span{
					background: transparent url(images/attribute_h3.png) no-repeat left top;
					display: block;
					left: 0px;
					height: 100%;
					position: absolute;
					top: 0px;
					width: 100%;
					}
			#attribute p{
				margin-top: 10px;
				text-align: justify;
				}			
			
		/* quick-navigation -2.3.2- ----------------------------------------------------------*/			
		#quick-navigation{
			background: transparent url(images/quick-navigation_bg.gif) repeat-y left top;
			color: #364c1d;3
			float: left;
			margin-top: 16px;
			padding: 0px 10px 20px;
			position: relative;
			width: 215px;
			w\idth: 195px;
			}
			
			#quick-navigation span.top{
				background: transparent url(images/quick-navigation_top.gif) no-repeat left top;
				display: block;
				height: 16px;
				left: 0px;
				position: absolute;
				top: -16px;
				width: 215px;
				}
				
			#quick-navigation span.bottom{
				background: transparent url(images/quick-navigation_bottom.gif) no-repeat left top;
				bottom: -16px;
				display: block;
				height: 16px;
				left: 0px;
				position: absolute;
				width: 215px;
				}

			#quick-navigation h3{
				background: transparent url(images/quick-navigation_h3_bg.gif) repeat-x left bottom;
				color: #000;
				font-size: 127%;
				font-weight: bold;
				height: 18px;
				he\ight: 14px;
				padding: 4px 0;
				text-transform: uppercase;				
				}
			#quick-navigation h3 em{
				display: block;
				font-style: normal;
				overflow: hidden;
				position: relative;
				}
			#quick-navigation h3 span{
				background: #e0d8d0 no-repeat left top;
				display: block;
				left: 0px;
				height:100%; 
				position: absolute;
				top: 0px;
				width: 100%;
				}		

			/* categories -2.3.2.1- -------------------------------------------------*/				
			#categories{
				}
			#categories h3{
				color: #a7323a;				
				}
				#categories h3 em{
					height: 14px;
					width: 98px;
					}
				#categories h3 span{
					background-image: url(images/h3_categories.gif);
					}
			#categories ul{
				padding: 6px 0;
				}
			#categories li{
				font: bold normal 127%/120% Verdana,Arial,Helvetica,sans;
				padding: 2px 0px;
				}
			#categories li a{
				color: #000;
				}
			#categories li a img{
				margin: 0 8px 0 5px;
				vertical-align: middle;
				}
				
			/* wholesaler, employee-of-the-month -2.3.2.2- -------------------------------------------------*/
			#wholesaler, #employee-of-the-month{
				background: transparent url(images/quick-navigation_h3_bg.gif) repeat-x left top;
				margin-top: 10px;
				overflow: hidden;
				padding: 1px 0 10px;
				}			
			#wholesaler h3, #employee-of-the-month h3{
				margin-bottom: 10px;
				}
			#wholesaler img, #employee-of-the-month img{
				float: left;
				margin: 3px 0 0 5px;
				}
			#wholesaler p, #employee-of-the-month p{
				padding-left: 60px;
				text-align: justify;
				}
			
			#wholesaler h3 em{
				height: 13px;
				width: 104px;
				}
				#wholesaler h3 span{
					background-image: url(images/h3_wholesaler.gif);
					}
			#emplyee-of-the-month h3 em{
				height: 13px;
				width: 181px;
				}
				#employee-of-the-month h3 span{
					background-image: url(images/h3_employee-of-the-month.gif);
					}

		/* main-content -2.3.3- ----------------------------------------------------------*/			
		#main-content{
			clear: both;
			overflow: auto;
			padding: 60px 0px 20px; 
			width: 100%;
			}		
			
			/* resources -2.3.3.1- -------------------------------------------------*/
			#main-content div.resources{
				float: left;
				font-size: 127%;
				padding: 0px 30px 0px 10px;
				width: 230px;
				w\idth: 180px;
				}
			#main-content .resources.last{
				float: right;
				padding: 0px 10px;
				width: 200px;
				w\idth: 180px;				
				}
			#main-content .resources h3{
				margin-bottom: 5px;				
				height: 13px;
				overflow: hidden;
				position: relative;
				text-transform: uppercase;
				width: 87px;
				}
			#main-content .resources h3 span{
				background: transparent url(images/h3_resources.gif) no-repeat left top ;
				height: 100%;
				left: 0px;
				position: absolute;
				top: 0px;
				width: 100%;
				}
				
				
			#main-content .resources a{
				color: #f3f5da;
				display: block;
				padding: 4px 6px 4px 30px;
				vertical-align: middle;
				}
							
			#main-content .resources .men{
				background: transparent url(images/resources/men.gif) no-repeat 4px center;
				line-height: 21px;
				}
			#main-content .resources .active .men, #main-content .resources .men:hover{
				background-image: url(images/resources/men_active.gif);
				}
								
			#main-content .resources .women{
				background: transparent url(images/resources/women.gif) no-repeat 4px center;
				line-height: 18px;
				}
			#main-content .resources .active .women, #main-content .resources .women:hover{
				background-image: url(images/resources/women_active.gif);
				}				
								
			#main-content .resources .kids{
				background: transparent url(images/resources/kids.gif) no-repeat 4px center;
				line-height: 18px;
				}	
			#main-content .resources .active .kids, #main-content .resources .kids:hover{
				background-image: url(images/resources/kids_active.gif);
				}								
							
			#main-content .resources .t-shirts{
				background: transparent url(images/resources/t-shirts.gif) no-repeat 4px center;
				line-height: 17px;
				}				
			#main-content .resources .active .t-shirts, #main-content .resources .t-shirts:hover{
				background-image: url(images/resources/t-shirts_active.gif);
				}								

			#main-content .resources .links{
				background: transparent url(images/resources/links.gif) no-repeat 4px center;
				line-height: 20px;
				}			
			#main-content .resources .active .links, #main-content .resources .links:hover{
				background-image: url(images/resources/links_active.gif);
				}
			
			#main-content .resources a:hover, #main-content .resources .active a{
				background-color: #692c2f;
				}		
		
		/* site-options -2.3.4- ----------------------------------------------------------*/		
		#site-options{
			background: transparent url(images/site-options_top.gif) no-repeat left top;
			clear: both;
			margin-left: -5px;			
			padding-top: 10px;
			text-align: center;
			width: 882px;
			}
		#site-options ul{
			background: #000 url(images/site-options_bottom.gif) no-repeat left bottom;
			padding: 0px 10px 10px;}
		#site-options li{
			border-left: 1px solid #5e5e5e;
			display: inline;
			line-height: 120%;
			padding: 0px 6px;
			}
		#site-options li.first{
			border-left: 0px;}
		#site-options li a{
			color: #5e5e5e;
			font-size: 90%;
			}
	
	    
/* Diff -3- =======================================================================================*/

	/* small tweeks -3.1- -----------------------------------------------------------------------*/
	a img{ border: none;}
	hr{ display: none;}
