.h2_box_in {
	_background-image/**/: none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bgr_h2_r-trans.png', sizingMethod='image');
}
#branding span.bottom{
	background: none;
	bottom: -1px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./stylesheet/images/branding_bg.png');	
	}
#branding h2 a span{
	background: transparent url(images/green-label_logo.png) no-repeat left top;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./stylesheet/images/green-label_logo.png');
	}


#branding li a{
	background: transparent url(images/blank.gif) no-repeat left bottom;
	}
	
#attribute h3 span{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./stylesheet/images/attribute_h3.png');
	}
	
#content{	
	width: 100%;}
	
.resources li{
	display: inline-block;
	}
#quick-navigation{
	margin-top:  31px;
	}

