<tr>
	<td class="standcol"><%= order_item.quantity %></td>
	<td class="prodcol" >
		<%= order_item.product_name %><br/>
		
		<%= render(:partial => 'order_item_selection', :collection => order_item.order_item_selections)%>
	</td>
	<td class="standcol"><%= number_to_currency(order_item.adjusted_price) %></td>
	<td class="standcol"><%= h(number_to_currency(order_item.product.price * order_item.quantity)) %></td>
</tr>


