<div id="full-text">
<h1>Congratulations.  You placed an order: <%= @order_number %></h1><br/><br/>
<p>We thank you for your business and hope you thoroughly enjoy your <a href="/">Four Direction TShirt</a><br/><br/>
You should receive a confirmation email. </p>
</div>