<%# if @available_options.size > 0 %>
<!--	<label>List of Available Options: </label>
	<div id="product_option_select">   -->
		<%#= render :partial => '/admin/product_options/product_option_select',
				   :locals => { :product => @product,
								:available_options => @available_options } %>
<!--	</div>  -->
<%# end %>
<hr/>
<label>Product Option:</label>
<div id="product_options">
	<div id="options_form" style="margin-left: 20px">
		<%= render :partial => '/admin/product_options/options_form',
		 		   :locals => { :product_option => @product_option,
			 					:product => @product } %>
    </div>
</div>
