<%# if @available_options.size > 0 %>
<!--	<label>List of Available Options: </label>
	<div id="product_option_select">   -->
		<%#= render :partial => '/admin/product_options/product_option_select',
				   :locals => { :product => @product,
								:available_options => @available_options } %>
<!--	</div>  -->
<%# end %>
<h2>Product Option:</h2>
	<div id="options_form">
		<%= render :partial => '/admin/product_options/options_form',
		 		   :locals => { :product_option => @product_option,
			 					:product => @product } %>
  </div>
