
<% form_for :product, product, :url => admin_product_url( product),
            :html => { :class => 'gt-form', :method => :put } do |form| %>
	<br/><br/>
	<h3>Base Price: <%= number_to_currency(product.price) %></h3>
	<div class="gt-table-controls clearfix">
		<table class="gt-list-table" id="quantity_discounts">
		  <tr>
			<th>Quantity Low</th>
			<th>Quantity High</th>
			<th>Price Per Product</th>
		  </tr>
			<%= render :partial => '/admin/products/wholesale/quantity_discount', 
				   	   :collection => product.quantity_discounts %>
		<br/>	
		</table>
		<br/><br/>
		<%= add_discount_link('Add Quantity Discount') %>
	</div>		

	<%= image_submit_tag 'gt/btn-save.jpg' %>
<% end %>