<% if out_of_stock_options.size > 0 %>
	<hr/>
	<h2>Current Out of Stock Options for this Product:</h2><br/>
	<table class="gt-list-table">
	  <tr>
		<th>Option Selections</th>
	  </tr>

	<% out_of_stock_options.each do |option| %>
		 <tr>
			<td>
				<%= option.out_of_stock_selection_string %>
			</td>
		    <td><%= link_to_remote 'Remove', 
					:method => :delete,
					:confirm => "Remove the out of stock options " + 			
								"#{option.out_of_stock_selection_string}?", 
					:update => 'out_of_stock_options',
					:url => admin_product_out_of_stock_option_path(option.product, option) %></td>
		 </tr>
	<% end %>
	</table>
<% end %>