
/* CHECKOUT 
--------------------------------------------------------------------------------------*/

#checkout {
	font-size: 95%;
	line-height: 1.5em;
}

#checkout label {
	color: #615853;
}

#checkout h3 {
	background-color: #7a8767;
	border: 1px solid #b3b3b3;
	font-size: 120%;
	color: #f5f7e0;
}

#checkout h3 span {
	background-color: #615853;
	padding: 3px;
	font-size: 125%;
	color: #f5f7e0;
}

#checkout_review {
	margin-left: 40px;
}

#checkout a {
	color: #33517d;
}

#order_review {
}

#what_is_this {
	border: 1px dotted #333;
	font-weight: normal;
	background-color: #feffcc;
	padding: 3px;
}

#payment_info {
	width: 610px;
	padding-bottom: 5px;
}

#payment_methods {
	margin-left: 20px;
	float: left;
}

#payment_methods #cards {
	margin-left: 20px;
}

#apply_promo_code {
	margin-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#credit_card_details {
	margin-left: 20px;
	float: right;
	padding: 5px;
	width: 330px;
	height: 180px;
	border: 1px solid #615853;
	background: url(../images/bd-bkg.gif) no-repeat 0 100% #c2caaa;
}

#credit_card_details label {
	background-color: #f5f7e0;
	background: transparent;
	color: #615853;
}

#credit_card_details label.contrast {
	background-color: #C2CAAA;
}

#paypal_details {
	padding: 5px;
	margin-bottom: 5px;
	float: right;
	width: 200px;
	text-align: center;
}

#billing_shipping_info {
	padding-top: 5px;
	margin-bottom:5px;
}

#billing_shipping_wrapper {
	margin-left: 10px;
}

#billing_address {
	width: 275px;
	padding-top: 5px;
}

#billing_address h3 {
	padding-left: 5px;
}

#billing_details {
	padding: 5px;
	width: 450px;
	padding-top: 8px;
}

#billing_address_details label {
     width: 8em;
     float: left;
     text-align: left;
     margin-right: -.3em;
}

#shipping_address {
	float: right;
	width: 310px;
	margin-top:-21px;
	padding-right: 10px;
	font-size: 100%;
}

#shipping_address label{
   width: 8em;
   float: left;
   text-align: left;
   margin-right: -.3em;
}

#shipping_address h3 {
	padding-left: 5px;
}


#billing_detail_labels label{
     width: 8em;
     float: left;
     text-align: left;
     margin-right: -.3em;
     display: block;
}


#billing_details_values {
	float: right;
	padding-top: 8px;
}

#billing_address_details {
	float: left;
	padding-top: 8px;
}

#billing_address_values {
	float: right;
	padding-top: 8px;
}

#field_details {
	float: left;
	padding-top: 8px;
}

#field_details label{

}


#billing_details label{
     width: 8em;
     float: left;
     text-align: left;
     margin-right: -.3em;
     display: block;
}


#field_values {
	float: right;
	padding-top: 8px;
}

.clear {
	clear: both;
}

.order_process_errors {
  text-align: left;
  font-size: 13px;
  background-color: #fa8013;
  color: #fff;
  border: 2px solid #333;
	padding: 15px 5px 20px 15px;
}



/* FIELD VALIDATION
--------------------------------------------------------------------------------------*/

.required-field {
  color: #fa6668;
}

.field_with_errors {
  padding: 1px;
  background-color: #fa8013;
  border-top: 1px solid #fdff69;
  border-bottom: 1px solid #fdff69;
}

#errorExplanation {
  width: 325px;
  border: 1px solid #fa6668;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #fa8013;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

