 /* Project Seven Tabs */
 
.p7TPwrapper {
	padding: 8px 0px 7px 0px;
}

.p7TPheader {
	padding: 3px 6px;
	border-bottom: 1px solid #666666;
	background-color: #eeeee1;
}

.p7TPheader {
	padding: 3px 6px;
	border-bottom: 1px solid #666666;
	background: #eeeee1;
}
.p7TPheader h2, .p7TPheader h3 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}
.p7TP_tabs {
	padding: 0;
	font-size: 1.1em;
}
#p7TP1 .p7TP_tabs a, #p7TP2 .p7TP_tabs a,
#p7TP3 .p7TP_tabs a, #p7TP4 .p7TP_tabs a, 
#p7TP5 .p7TP_tabs a {
	padding: 8px 8px 4px 6px;
	display: block;
	float: left;
	color: #878D8E;
	text-decoration: none;
	background-image: url(p7tp/tabs01_up2.gif);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: transparent;
}
#p7TP1 .p7TP_tabs a:focus, #p7TP2 .p7TP_tabs a:focus,
#p7TP3 .p7TP_tabs a:focus, #p7TP4 .p7TP_tabs a:focus,
#p7TP5 .p7TP_tabs a:focus {
	outline: 1px dotted;
	outline-color: #ffffff;
}
#p7TP1 .p7TP_tabs a:hover, #p7TP2 .p7TP_tabs a:hover, 
#p7TP3 .p7TP_tabs a:hover, #p7TP4 .p7TP_tabs a:hover, 
#p7TP5 .p7TP_tabs a:hover, #p7TP1 .p7TP_tabs a:active, 
#p7TP2 .p7TP_tabs a:active, #p7TP3 .p7TP_tabs a:active,
#p7TP4 .p7TP_tabs a:active, 
#p7TP5 .p7TP_tabs a:active {
		background-color: transparent;
}

.p7TP_tabs div {
	display: block;
	float: left;
	background-image: url(p7tp/tabs01_up.gif);
	background-repeat: no-repeat;
	margin: 0 -2px 0 0;
}
.p7TPclear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.p7TPcontent {
	padding: 10px;
	background-color: #F8F7F1;
	font-size: 1em;
	line-height: 1.5em;
	position: relative;
	z-index: 1;
	top: -1px;
	left: 0;
	border: 1px solid #CCCCCC;

}
.p7TPcontent h2, .p7TPcontent h3, 
.p7TPcontent h4 {
	font-size: 1.1em;
	color: #444444;
	margin: 0px;
	line-height: normal;
}
.p7TPcontent p {
	margin: 6px 0 12px 0;
}
#p7TP1 .p7TP_tabs div.down, #p7TP2 .p7TP_tabs div.down, 
#p7TP3 .p7TP_tabs div.down, #p7TP4 .p7TP_tabs div.down, 
#p7TP5 .p7TP_tabs div.down {
	padding: 0;
	position: relative;
	z-index: 2;
	background-image: url(p7tp/tabs01_down.gif);
	background-repeat: no-repeat;
}
#p7TP1 .p7TP_tabs div.down a, #p7TP2 .p7TP_tabs div.down a, 
#p7TP3 .p7TP_tabs div.down a, #p7TP4 .p7TP_tabs div.down a, 
#p7TP5 .p7TP_tabs div.down a {
	background-image: url(p7tp/tabs01_down2.gif);
	background-repeat: no-repeat;
	background-position: right top; color: #565A5B;
}
/*HIDE the TABS*/
.p7TP_tabs {
	display: none;
}