
<% if preauthorized(order) %>
	<span id='spinner' style="display:none">
		<img src='/images/spinner.gif'>
	</span>
	$ <%= text_field_tag 'post_authorize_amount', order.total, :size => '6' %><br/>
	<%= link_to_remote 'Post Authorize', 
					{ :url => admin_authorization_path(order), 
					  :method => 'put',
				   	  :before => "Element.show('spinner')",
					  :success => "Element.hide('spinner')",
					  :submit => 'post_authorize' } %>
<% end %>
