<% content_for :sidebar do %>
	<ul>
		<li><a href='#' id='print-packing-sheet'>Print Packing Sheet</a></li>
		<li><a href='#' id='print-gift-receipt'>Print Gift Receipt</a></li>
		<li><%= link_to 'Edit Order', edit_admin_order_path(@order) %></li>
	</ul>
<% end %>