<div class="box1"><div class="box2"><div class="box3"><div class="box4 clearfix">

<div class="cushycms">
<h1>Giving Back</h1>
<h2>Who’s paying the price for the coffee you drink? </h2>
<p>While researching the environmental impact of conventional cotton <b>we were astounded by the toxicity of the chemicals used</b>.  We were equally astounded at the amount and toxicity of <i>chemicals used to grow and process conventional coffee</i>, the most heavily pesticided crop in the world. We urge all who drink coffee to <b>take the time to find out what a difference organic and fair trade coffee</b> can mean to you, the environment, and to the children and families who pick those coffee beans to sustain themselves.  We believe that drinking fair trade, organic coffee should be a moral act. </p>
<p><b>25 million families</b> around the world work in the coffee fields and are completely dependent upon coffee as their only source of income.  <b>Coffee farmers earn as little as .04 cents per pound</b> for the coffee they pick by hand.  Buying fair trade and organic coffee has helped the situation somewhat, but for every pound of gourmet coffee sold, a coffee farmer will still only receive between .12 and .25 cents. </p>
<img style="margin-left:150px" src="/images/coffee_kids.gif" /><br/><br/>
	<p><u>The mission of Coffee Kids is to help coffee-farming families improve the quality of their lives</u>. Coffee Kids believes that coffee-farming families and communities hold the solutions to their problems. They work with community members to identify challenges they face and then partner with local non-profit organizations to develop projects that address these challenges on a grassroots level while respecting the cultural integrity, intelligence and ingenuity of the people they serve.</li>
</p>
<p><a href="http://www.coffeekids.org">Coffee Kids</a> believes that <i>all programs must be community-based and founded on the principles of sustainability</i>. Income from the annual coffee harvest is not enough, <b>fair trade and organic premiums are not enough</b>. Coffee-farming families need education and economic options that can provide for year-round sustenance. Coffee Kids works in the world of coffee, but not in the commercialization of coffee. </p>
<img style="margin-left:150px" src="/images/the_coffee_kids.jpg" />
<br/><br/>
<p><i><b>Green Label Organic</b></i> supports the work of Coffee Kids and <b>will donate a portion of our profits for the month of August</b> to this worthy non-profit organization. </p>

<p>  To find out more about Coffee Kids or make a donation go to <a href="http://www.coffeekids.org">Coffee Kids</a> or call 505-820-1443.</p>
<h1>Why we Give Back</h1>
<p><b>Green Label Organic </b> began to make T-shirts as a way of delivering important messages about the environment, but we soon learned that our concern about our planet encompassed more than ecology alone. We feel there is a new spirit emerging that honors not only our planet, but our connection to it and to one another.</p>

<p>We have found so many wonderful people and small organizations doing so many important things that we felt we might be able to make a little difference for them and those they serve by helping to bring their unique contributions to light on our site.</p>

<p>Each month Green Label Organic will feature a non- profit organization we feel deserves to have your attention and perhaps your support.  Green Label will contribute a portion of each month’s sales to the highlighted organization of that particular month. We hope you will join us in that support.</p>

</div>

</div></div></div></div>

