
<div class="box1"><div class="box2"><div class="box3"><div class="box4 clearfix">

<h1>Return Policy</h1>

<b>Ship returns to:</b><br/>
Green Label Organic<br/>
Attn: Returns<br/>
436 Floyd Hwy. S.<br/>
Floyd, VA 24091<br/>

<br/><br/>
<p>
If you would like to exchange a shirt, please <b>include a check for $4.95 for 1-2 shirts or $7.75 for 3-5 shirts </b>to cover shipping.</p>
<p>
Please <b>include your email address, phone number and original order number with your return</b> as well as the style, color, and size of the shirt you'd like in exchange.
</p>

</div></div></div></div>