

<div class="box1"><div class="box2"><div class="box3"><div class="box4 clearfix">

<h1>Shipping Information</h1>

<p>
All orders will ship via  <b>Priority Mail - United States Postal Service</b><br/>
Please allow 3-4 business days for shipping from date of order. Orders are shipped from the East Coast.
</p>
<p>
<b>Rush Orders:</b><br/>
Overnight delivery is available via US Postal service. <br/>
There is a $5.00 special handling fee plus overnight/next day delivery charges from the US Postal Service.
</p>
</div></div></div></div>