<div class="box1"><div class="box2"><div class="box3"><div class="box4 clearfix">

<h1>Support Local</h1>

<a href="/support_local.pdf" target="_blank">>> Click for Support Local T-Shirts for your Organization </a>
<br/><br/>
<p><h4>Buying from and supporting local businesses</h4> can mean many things. In some cases it means supporting the local merchants in your home town.  It can mean buying as much of your food within 100 miles of home as possible, and for many of us it’s about purchasing what is produced in our home state or at the very least what is produced in our own country.  </p>

<p><h4>At Green Label Organic</h4> we believe it is the spirit of intention that defines what we think and feel is “LOCAL”.  Today it may be a locally grown potato and tomorrow it may be a guitar that was made in Kalamazoo Michigan. They both are locally made and each carries with it a certain authenticity. </p>

<p><h4>Supporting our local economy</h4> is a movement that is taking shape without any defined organizers. It is coming from the heart. It is rising up from within. Some say it’s a reaction to the “big box” store mentality that has taken over the world, and that may be somewhat true, but we believe it is more a realization that we are losing touch with who we really are and where we came from.  We yearn for healthy food, artisan quality, and the rejuvenation of Main Street. We want to look out for one another and help preserve our way of life. Simply stated, we are becoming more and more conscious about the choices we make. When we pick up something to buy we are re-learning and re-thinking about where it came from and what it took to produce it and get it here. At this point the simple act of thinking before acting is a huge positive. We believe this subtle change will ultimately impact us all in a very positive way. </p>

<p><h4>At Green Label Organic</h4> we act locally in as many ways as possible to produce our clothing and operate our small company. We take particular pride, that at the very least, all of our clothing is produced in the USA. Much of the manufacturing process takes place within 125 miles from our “headquarters” in the Blue Ridge Mountains of Virginia. From the very beginning our goal was to help employ some of the local people here in the South who lost their jobs to corporate flight. We also employ local artisans for our display and design services as well as service professionals and technicians for the many tasks it takes to run a business these days.</p>

<p>We encourage all of you to, as they say, “think globally, act locally”, however you define it for yourselves.</p>

<p>If you have an organization you would like to see highlighted on our Support Local page please send it along and we’ll check it out.</p>

<p><h4>Thanks you for supporting local whenever possible.</h4></p>

</div></div></div></div>
