<div id="categories">
  <h3><em><span></span>Categories</em></h3>
  <ul>
    <% for category in categories %>
      <% if category.parent_id == 1 %>
        <li>
          <%= link_to category.name, category_products_path(category) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
