<ul id="categories">
   <% for category in categories %>
		<% if category.parent_id == 1 %>
			<li class="subtitle">
				<a href="/categories/<%= category.id %>/products">
					<img src="<%= category.category_image %>">
				</a>
				<a href="/categories/<%= category.id %>/products" class="text">
					<%= category.name %>
				</a>
			</li>
		<% end %>
    <% end %>
</ul>

