<h3>Thumbnails:</h3><br/>

<% image = product.product_images[0] %>
<% unless image.nil? %>
	<% image.thumbnails.each do |thumbnail| %>
		<div id="<%= dom_id(thumbnail, 'id') %>">
			<%= image_tag thumbnail.public_filename %>
			<input type="hidden" name="image_id" value="<%= thumbnail.id %>"/>
			<%= link_to_remote 'Remove Image', :submit => dom_id(thumbnail, 'id'), 
								:update => 'image_thumbnail_list',
								:confirm => "Are you sure you want to remove the image?", 
								:url => { :action => 'remove_product_thumbnail',
										  :controller => 'product_images',
									 	  :id => product.id } %>
		</div>
	<% end %>
<% end %>
