a:link, a:visited {
	color: #6caa00;
	text-decoration: underline;
}
a:hover {

}


/* Search */

.gt-search {
	display: inline;

}

.gt-hugs h2 {
	float: right;
	display: inline;
}

fieldset {
	border 1pt;
}

.line {
	border-top: 1px solid #333;
	padding: 2px;
}

label {
	font-weight: bold;
	display: block;
}

hr {
	clear: both;
}

/* Categories */

#categories {
	width: 700px;
}

#category_selection {
	float: left;
	margin-left: 5px;
}

#category_edit {
	width: 30;
	margin-left: 20px;
	border: 1px dotted #ccc;
	background-color: #e9eff9;
}

#category_new {
	width: 30;
	margin-left: 20px;
	border: 1px dotted #999;
	background-color: #e9eff9;
	padding: 5px;
}


/* Payment States */

.pending {
	color: #1f7ffd;
}

.paid {
	color: #117f40;
}

.fulfilled {
	color: #7e007f;
}

.authorized {
	color: #fa8013;
}

.payment_declined {
	color: #fa6668;
}

.issue {
	color: #fa6668;
}

.delayed {
	color: #fa6668;
}

.shipping_delayed {
	color: #fa6668;
}

.disputed {
	color: #fa6668;
}

/* Orders
--------------------------------------------------------------------------------------*/

#post_authorize {
	float: right;
	width: 100px;
}

/* Product Images
--------------------------------------------------------------------------------------*/
.image-section {
  background-color: #fff;
  border: 1px solid #eee;
  margin: 1em 0;
  padding: 1em;
}

.image-section img {
  border: 1px solid #eee;
  padding: 1em;
}


/* Product Options
--------------------------------------------------------------------------------------*/

#product_options {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ccc;
}

#product_option_selections {
	background-color:#fdffe5;
	padding: 5px;
	border: 1px solid #ccc;
}

.dotted_border {
	border: 1px dotted #ccc;
}


/* Field Validation
--------------------------------------------------------------------------------------*/

.required-field {
  color: #fa6668;
}

.field_with_errors {
  padding: 1px;
  background-color: #fa6668;
  border-top: 1px solid #fdff69;
  border-bottom: 1px solid #fdff69;
}

#errorExplanation {
  width: 400px;
  border: 1px solid #fa6668;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left: 50px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#flash {
 	background-color:#fdffe5;
 	font-size: 120%;
	color: #4c4c4c;
}

/*CSS Badoo style pagination*/
div.pagination {
	background-color:#fff;
	color:#48b9ef;
	padding:10px 0 10px 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
}

div.pagination a {
	color:#48b9ef;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:2px solid #f0f0f0;
}

div.pagination a:hover, div.pagination a:active {
	border:2px solid #ff5a00;
	color:#ff5a00;
}

div.pagination span.current {
	padding:2px 5px;
	border:2px solid #ff5a00;
	color:#fff;
	font-weight:bold;
	background-color:#ff6c16;
}
div.pagination span.disabled {
	display:none;
}

/* jQuery Spinner */

.spinner {
  background: #fff url('../../images/spinner.gif') no-repeat center center;
  opacity: 0.75;
  z-index: 2000;
  filter: alpha(opacity: 75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
}
