<tr>
	<td class="standcol"><%= order_item.quantity %></td>
	<td class="prodcol" >
		<%= order_item.product.name %>
	</td>
	<td class="standcol"><%#= number_to_currency(order_item.adjusted_price) %></td>
	<td class="standcol"><%= h(number_to_currency(order_item.product.price * order_item.quantity)) %></td>
</tr>


