<% if @status_error %>
<h1><%= @status_error %></h1>
<% else %>
	Confirmation #: <%= @status.confirmation %><br/>
	Status: 
	<%= @status.state %><br/>
	Tracking Number: 
	<%= @status.tracking_number %>

	<%# if @order %>
		<%#= @order.first_name %>
		<%#= @order.last_name %>
	<%# end %>
<% end %>