
<td class="prodcol"><br/><br/></td>
<td class="standcol">&nbsp; </td>
<td class="standcol">&nbsp;</td>
<td id="cart_total_label">Total</td>
<td id="cart_total"><%= number_to_currency(grand_total) %></td>