<% if order_review %>
	<%= Region.find(active_shipping_region_id).name %>
<% else %>
  <%= select_tag :regions, options_from_collection_for_select(Region.all, :id, :name,
                                                              active_shipping_region_id) %><br/>
<% end %>
