<%= select_tag :methods, 						
	options_from_collection_for_select(shipping_methods, 
									   :id, :name,
				  		               @default_method.id) %><br/> 
<%= observe_field :methods,
				  :url => { :action => 'refresh_totals',
							:controller => 'carts',
					 		:form_authenticity_token => form_authenticity_token },
				  :with => "'method=' + escape(value)"
-%>