<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td valign="top"  style="height:305px; background-repeat:repeat-y;">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="product_results" width="400" valign="top">
					  &nbsp;<h1>baskets</h1>
	                  <p class="product_results">&nbsp;</p>
				      	 <%= render :partial => "product_viewer", :object => @products %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


								
