<h1>Configuration</h1>
<div class="gt-table-controls clearfix">
  <table class="gt-list-table">
    <tr>
      <th>Shipping Type</th>
      <th>Default Keywords</th>
      <th>Default Description</th>
    </tr>

    <tr>
      <td><%= Configuration::SHIPPING_TYPES[@configuration.shipping_type || 1] %></td>
    </tr>
  </table>
</div>

<br />

<%= link_to 'Edit', edit_admin_configuration_path(1) %>