<% categories.each do |category| %>
  <li class="category_item" id="<%= category.id %>">
    <%= category.name %>
    <ul id="<%= category.id %>">
      <li>&nbsp;</li>
      <% unless category.leaf? %>
        <%= render 'category_branch', :categories => category.children %>
      <% end %>
    </ul>
  </li>
<% end %>