<% categories.each do |category| %>
  <li class="category_item" id="category=<%= category.id %>">
    <%=link_to(category.name, admin_category_path(category)) %>
      <ul id="<%= category.id %>">
        <li>&nbsp;</li>
        <% unless category.leaf? %>
        <%= render 'category_branch', :categories => category.children %>
        <% end %>
      </ul>
  </li>
<% end %>
