<div style="display:inline">
	<%= image_tag icon.filename.url %>
	<%= link_to 'Remove Image', admin_category_category_icon_path(category, icon),
	    :class => "destroy-category-icon" %>
</div>
<br/><br/>
<h2>Category Icon Hover</h2>
<div id="icon_hover">
  <%= render 'admin/categories/icon_hover', :icon => icon %>
</div>