
<h1>Categories</h1>
Select Category to edit:<br/>
<div id='categories'>
	<div id='category_selection'>
		<%= render :partial => 'category_selection' %>
	</div>

	<div id='category_manage'>
		<div id='category_edit'>
		</div>

		<div id='category_new'>
			<%= render :partial => 'new'  %>
		</div>
	</div>
</div>
