<%= javascript_tag "window.AUTH_TOKEN = '#{form_authenticity_token}'" %>
<%= render 'sidebar' %>
<h1>Categories</h1>

<ul id="category-list">
  <%= render 'category_branch', :categories => @categories %>
</ul>
