<div id="category-drop-down">
  <br/><h2>Category:</h2>
  <%= select_tag 'category_ids[]', 
                  options_for_select(nested_set_options(Category.root.children) do 
                    |i| raw("#{'&nbsp;&nbsp;' * (i.level - 1)} #{i.name}") 
                  end, 
                  :disabled => @product.category_ids), :id => 'category_select'  %>

  <%= link_to "Add Category", admin_product_path(@product), :id => 'add_category' %>
</div>
<br/><br/>

<div id="category_list">
  <% if @product.categories.length > 0 %>
    <%= render 'category_list', :product_id => @product.id, :categories => @product.categories %>
  <% end %>
</div>

