<% content_for :extension_tab_headers do %>
  <div id="p7tpb1_8"><a href="javascript:;">Audio Clips</a></div>
<% end %>
<% content_for :extensions_tab_form do %>
  <div id="p7tpc1_8">
    Audio Clip Form
  </div>
<% end %>
