<% content_for :sidebar do %>
<ul>
  <li><%= link_to 'Add a new product', new_admin_product_path %>
  <li><%= link_to 'Export Product Inventory', admin_product_export_path %></li>
  </li>
</ul>
<% end %>
