<%= error_messages_for :product_image %>

<h1>Image Uploader</h1>
<div id="image_list">
  <% unless product.product_images.empty? %>
      <%= render :partial => '/admin/products/images/image_list', :locals => { :product => product } -%>
  <% end %>
</div>

<%= render :partial => '/admin/products/images/image_form', :locals => { :product => product }  %>
