<h3>Regular Size:</h3><br/>

<% product.product_images.each do |image| %>
	<div id="<%= dom_id(image, 'id') %>">
		<%= image_tag image.filename.url, :name => "image_id" %>
		<input type="hidden" name="image_id" value="<%= image.id %>"/>
		<%= link_to 'Remove Image', admin_product_product_image_path(product, image), 
		    :class => "destroy-product-image" %>
	</div>
<% end %>
