<div id="images_thumbnail_form">
	<% form_for [:admin, image, thumbnail], 
	            :html => { :multipart => true, :class => 'image_thumbnail_add' } do |form| %>
	  <p>
	    <label for="uploaded_data">Upload Thumbnail Image:</label>
	    <%= form.file_field :filename, :value => "Browse" %>
	  </p>
	  <p>
	    <%= image_submit_tag 'gt/btn-upload.jpg', :class => 'gt-submit-btn' %>
	  </p>
	<% end %>
</div>	
