<div id="images_form">
	<% form_for [:admin, @product, @product_image], 
	            :html => { :multipart => true, :id => 'product_image_add' } do |form| %>
	  <p>
	    <label for="uploaded_data">Upload Image:</label>
	    <%= form.file_field :filename, :value => "Browse" %>
	  </p>
	  <p>
	    <%= image_submit_tag 'gt/btn-upload.jpg', :class => 'gt-submit-btn' %>
	  </p>
	<% end %>

</div>