<h3>Thumbnail:</h3>
<br/>
<div id="<%= dom_id(thumbnail, 'id') %>">
	<%= image_tag thumbnail.filename.url %>
	<%= link_to 'Remove Thumbnail', admin_product_image_product_image_thumbnail_path(image, thumbnail), 
	    :class => "destroy-product-image-thumbnail" %>
</div>
