<%= error_messages_for :product_image %>

<%= render :partial => '/admin/products/images/image_form', :object => @product %>

<% unless @product.product_images.empty? %>
  <div id="image_list">
    <%= render :partial => '/admin/products/images/image_list', :locals => { :product => @product } -%>
  </div>
<% end %>
  
