<!-- side nav -->
<div id="sidenav">
  <ul id="accordian">
    <li id="sn-womens"><a class="section-expanded" href="#">Womens</a>
      <ul>
        <li><span class="sub-head">by SHIRT TYPE</span>
          <ul>
            <% Category.tree('Womens').each do |category| %>
              <%= category.name %>
            <% end %>
            <li><a href="">All</a></li>
          </ul>
        </li>
        <li><span class="sub-head">FEATURED FOR WOMEN</span>
          <ul>
            <% Product.featured('Womens').each do |product| %>
              <li><a href=""><%= product.name %></a></li>
           <% end %>
          </ul>
        </li>
      </ul>
    </li>
    <li id="sn-mens"><a class="section" href="#">Mens</a>
      <ul>
        <li><span class="sub-head">by SHIRT TYPE</span>
          <ul>
            <%# Category.tree('Mens').each do |category| %>

            <%# end %>
            <li><a href="">All</a></li>
          </ul>
        </li>
        <li><span class="sub-head">FEATURED FOR WOMEN</span>
          <ul>
            <li><a href="">FemZen</a></li>
            <li><a href="">On Sale</a></li>
            <li><a href="">Shirt of the Month</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li id="sn-kids"><a class="section" href="#">Kids</a>
      <ul>
        <li><span class="sub-head">by SHIRT TYPE</span>
          <ul>
            <%# Category.tree('Kids').each do |category| %>

            <%# end %>
          </ul>
        </li>
        <li><span class="sub-head">FEATURED FOR WOMEN</span>
          <ul>
            <li><a href="">FemZen</a></li>
            <li><a href="">On Sale</a></li>
            <li><a href="">Shirt of the Month</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div><!-- /sidenav -->

