<div id = 'zipcode_error' style = 'display:none; color:red'>
  You must enter a zipcode to calculate shipping before adding item to cart
</div>  
<div id = 'invalid_zipcode_error' style = 'display:none; color:red'>
  Zipcode must be valid US zipcode (in the format "12345" or "12345-1234") 
  or valid Canadian postal code  (in the format A1A 1A1)
</div>
<div id= 'shipping_quote'>
  <% if @shipping %>
    <% if @shipping == 0 %>
      Free Shipping!
    <% else %>  
      Shipping: <%= number_to_currency(@shipping) %>
    <% end %>
  <% else %>
    Enter your zipcode to get a shiping price:
    <%= text_field_tag :zipcode, '', :size => 5, :id => 'zipcode' %>
    <%= link_to "Submit", shippings_path, :id => 'shipping_quote_link' %>
  <% end %>
</div>
<span id= 'shipping_spinner' style="display:none" >Calculating shipping...
  <img src='/images/spinner.gif'><br/>
</span>