<li><%= link_to "Orders", admin_orders_path() %></li>
<li><%= link_to "Categories", admin_categories_path() %></li>
<li><%= link_to "Products", admin_products_path() %></li>
<li><%= link_to "Shipping", admin_regions_path() %></li>
