
	<div id="ft" class="clearfix">
		<!-- left col -->
		<div class="left">
			<h2>Resources</h2>
			<ul id="res-nav">
			</ul>
		</div>
		
		<!-- right col -->
		<div class="right">
	
			<!-- left col -->
			<div class="left-half">
				<h3>About Us</h3>
				<div class="footerbox-top"></div>
				<div class="footerbox">
					<b>Company Name </b>Placeholder infomation. <a href="/index/about"><br/><span style="margin-left:160px">Read More >></span></a>					
				</div>
				<div class="footerbox-btm"></div>
			</div>
			
			<!-- right col -->
			<div class="right-half">
				<h3>Other Facts</h3>
				<div class="footerbox-top"></div>
				<div class="footerbox">
				    More placeholder info. <a href="/index/why-organic"><br/><span style="margin-left:160px">Read More >></span></a>					
				</div>
				<div class="footerbox-btm"></div>				
			</div>
		</div>
		<div class='icons'>
		</div>
	</div>
